<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Pembelian</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>


<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<br>
<div class="container">
    <div class="card shadow-sm bg-footer rounded">
        <div class="card-header bg-warning">
            <h2 class="text-center">Detail Pembelian</h2>
        </div>
        <div class="card-body">
            <div class="justify-content-center">
                <table class="table">
                    <tr>
                        <td>No Invoice                      : </td>
                        <td th:text="${pembelian.noInvoice}"></td>
                    </tr>
                    <tr>
                        <td>Total Harga                     : </td>
                        <td th:text="${pembelian.total}"></td>
                    </tr>
                    <tr>
                        <td>Member                          : </td>
                        <td th:text="${pembelian.member.namaMember}"></td>
                    </tr>
                    <tr>
                        <td>Jumlah Barang                   : </td>
                        <td th:text="${qty}"></td>
                    </tr>
                    <tr>
                        <td>Tanggal Pembelian               : </td>
                        <td th:text="${tanggalPembelian}"></td>
                    </tr>
                    <tr>
                        <td>Nama Admin                      : </td>
                        <td th:text="${pembelian.namaAdmin}"></td>
                    </tr>
                    <tr>
                        <td>Metode                          : </td>
                        <td th:text="${metode}"></td>
                    </tr>
                </table>
                <a class="btn btn-sm btn-danger mr-2" th:href="@{/pembelian/hapus/} + ${pembelian.id}">Hapus</a>
            </div>
        </div>
    </div>
    <h5>Daftar Barang</h5>
    <div class="card shadow-sm bg-footer rounded">
        <div th:if="*{listPembelianBarang.size() !=0}">
            <form th:action="@{/barang/delete}" th:object="${pembelian}" method="POST">
                <input type="hidden" th:field="${pembelian.id}">
                <table class="table">
                    <thead style="background-color: orange;">
                        <tr>
                            <th>No</th>
                            <th>Nama Barang</th>
                            <th>Merk</th>
                            <th>Tipe</th>
                            <th>Tanggal Garansi</th>
                            <th>Harga</th>
                            <th>Qty</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pembelianBarang, iterationStatus : ${listPembelianBarang}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${pembelianBarang.barang.namaBarang}"></td>
                            <td th:text="${pembelianBarang.barang.merkBarang}"></td>
                            <td th:text="${pembelianBarang.barang.tipe.namaTipe}"></td>
                            <td th:text="${pembelianBarang.tanggalGaransi}"></td>
                            <td th:text="${pembelianBarang.barang.hargaBarang}"></td>
                            <td th:text="${pembelianBarang.quantity}"></td>
                            <td><th:block th:with="variable = ${pembelianBarang.barang.hargaBarang}, controllerVar = ${pembelianBarang.quantity}, var = ${variable * controllerVar}">
                                <p th:text="${var}"></p>
                            </th:block></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div th:unless="*{listPembelianBarang.size() != 0}">
        <h2 th:text="'Tidak ada barang'"></h2>
    </div>
    <br>
    <a class="btn btn-light btn-outline-warning" href="/pembelian">Kembali</a>
</div>
</body>
</html>