<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Tambah Pembelian</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>


<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<br>
<h2 class="text-center">Form Tambah Pembelian</h2>
<div class="container">
    <div class="justify-content-center">
        <div class="card m-4 p-4" style="border-color: white; border-bottom-color: gray">
            <div class="card-body">
                <div>
                    <form th:action="@{/pembelian/tambah}" th:object="${pembelian}" method="POST">
                        <input type="hidden" name="noInvoice" />
                        <input type="hidden" type="localdate" name="tanggalPembelian"/>

                        Nama Admin <br>
                        <input required class="form-control" type="text" name="namaPembelian" />
                        <br><br>

                        Pembeli <br>
                        <select th:field="*{member}" class="custom-select" name="idMember">
                            <tr th:each="member : ${listMember}">
                                <option th:value="${member.id}" th:text="${member.namaMember}"></option>
                            </tr>
                        </select>
                        <br><br>

                        Metode Pembayaran <br>
                        <select name="isCash">
                            <option value="1">Tunai</option>
                            <option value="0">Cicil</option>
                        </select>
                        <br><br>

                        <h4>Daftar Barang</h4>
                        <br>
                            <div th:each="pembelianBarang, iterationStatus : *{listPembelianBarang}" class="row g-3">
                                <div class="col-sm-6">
                                    Nama Barang <br>
                                        <select name="barang"
                                                th:field="*{listPembelianBarang[__${iterationStatus.index}__].id}"
                                                class="form-control">
                                            <div th:each="barangEx, iterationStatus2 : ${listBarang}">
                                                <option th:value="${barangEx.id}" th:text="${barangEx.namaBarang}" >
                                                </option>
                                            </div>
                                        </select>
                                </div>
                                <div class="col-sm">
                                        Qty <br>
                                        <input required min="0" class="form-control" type="number" name="quantity"/>
                                </div>
                                <div class="col-sm">
                                    <br>
                                        <button th:value="${iterationStatus.index}" class="btn btn-danger col-sm" type="submit"
                                                name="deleteRow">Hapus</button>
                                </div>
                            </div>
                        <br>
                        <button class="btn btn-info" type="submit" name="addRow">Tambah Barang</button>
                        <a class="btn btn-light btn-outline-warning align-content-center" th:href="@{/pembelian}" style="width: 100px; border-radius: 10px;">Batal</a>
                        <button class="btn btn-warning align-content-center" type="submit" style="width: 100px; border-radius: 10px;" name="save">Simpan</button>
                    </form>
                </div>
            </div>
        </div>

        <br>
        <br>
    </div>
</div>

</body>

</html>